services:
  backend:
    build:
      context: ./backend
    container_name: mountmadness-backend
    env_file:
      - ./backend/.env
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app

  frontend:
    build:
      context: ./frontend
    container_name: mountmadness-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
